.header {
  text-align:center;
  align-items: center;
  padding: 20px 0px; 
}

.GameCardContainer {
  /* GameCardController css copied from Niel.fun .post <div> class */
  display: grid;
  margin-top: 10px;
  font-size: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px 22px;
  justify-content: center;
  padding: 0 15px;
  max-width: 1400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.link-img:hover {
  /* game card image hover css copied from Niel.fun */
  transform: scale(1.02);
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, .17));
}


@media only screen and (max-width: 1130px) {
  .GameCardContainer {
    /* Media game card breakpoints css copied from Niel.fun */
      grid-template-columns: 1fr 1fr;
      max-width: 900px;
      grid-gap: 15px 18px;
  }
}

@media only screen and (max-width: 600px) {
  .GameCardContainer {
    /* Media game card breakpoints css copied from Niel.fun */
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 7px;
      padding: 0 8px;
  }
}
