.link {
  border-radius: 19px;
  aspect-ratio: 391 / 145;
  display: block;
  z-index: 2;
  width: 100%;
  min-width: 100%;
}

.link-img {
  max-width: 100%;
  cursor: pointer;
  transition: transform .07s linear, filter .1s ease-out, opacity .15s linear;
  opacity: 0;
}

